<h2 style="display:flex;align-items:center;justify-content:center" class="mt-2">Admin Login</h2>
<section class="vh-100">
  <div class="container h-100">
    <div class="row d-flex align-items-center justify-content-center h-100">
      <div class="col-md-8 col-lg-7 col-xl-6">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
          class="img-fluid" alt="Phone image">
      </div>
      <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
        <%=  flash[:notice] %>
<%= form_with url: "/admin/login", method: :post do |form| %>
  
    <div class="field">
      <%= form.label :user_name ,class:'form-label' %>
      <%= form.text_field :username ,class:'form-control form-control-lg'%>
    </div>
  
    <div class="field">
      <%= form.label :password ,class:'form-label' %>
      <%= form.password_field :password ,class:'form-control form-control-lg'%>
    </div>
  
    <div class="field mt-2">
      <%= form.submit "Admin Login" ,class:'btn btn-primary btn-lg btn-block' %>
    </div>
  
<% end %>
      </div>
    </div>
  </div>
</section>






